<form [formGroup]="lineaTiempoForm" (ngSubmit)="onSubmit()" class="line_form_wrap">

    <div id="create-line-modal">

        <div id="general-info-section">
            <h2>Crear nueva línea de tiempo</h2>

            <div class="line_form">
                <div class="form-group">
                    <label>Título:</label>
                    <input formControlName="titulo" placeholder="Título principal" required />
                </div>

                <div class="form-group">
                    <label>Tema:</label>
                    <select formControlName="idTema">
                        <option value="">-- Selecciona un tema --</option>
                        <option *ngFor="let t of temas" [value]="t.idTema">{{ t.nombreTema }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Descripción:</label>
                    <textarea formControlName="descripcion"
                        placeholder="Descripción breve de la línea de tiempo"></textarea>
                </div>

                <div class="form-group">
                    <label>URL (Principal):</label>
                    <input formControlName="url" placeholder="Enlace a un recurso principal" />
                </div>

                <div class="form-group">
                    <label>Palabras clave (separadas por coma):</label>
                    <input formControlName="palabrasClave" placeholder="ej: historia, ciencia, tecnología" />
                </div>

                <div class="form-group">
                    <label>Imagen de portada:</label>

                    <div class="custom-file">
                        <button type="button" (click)="portadaInput.click()" class="btn-file">
                            Seleccionar imagen
                        </button>

                        <span class="file-name">
                            {{ nombrePortadaActual || 'Ningún archivo seleccionado' }}
                        </span>

                        <!-- input real oculto -->
                        <input #portadaInput type="file" accept="image/*" (change)="onPortadaSelected($event)" hidden />
                    </div>

                    <div *ngIf="previewPortada" class="preview-portada">
                        <img [src]="previewPortada" alt="Vista previa portada" />
                    </div>
                </div>




                <div class="create-line-actions">
                    <button type="button" class="cancel-line-btn" (click)="onCancelarClick()">Cancelar</button>
                    <button type="submit" class="save-line-btn" [disabled]="lineaTiempoForm.invalid">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
        <div class="vertical-divider"></div>

        <div id="hitos-info-section">
            <div class="hitos-action">
                <h3>Hitos</h3>
                <button type="button" (click)="agregarHito()" class="create-hito-btn" [disabled]="hitos.length >= 15">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    <span>Agregar hito</span>
                </button>
            </div>
            <div *ngIf="hitos.length >= 15" class="mensaje-limite">
                Has alcanzado el límite máximo de 15 hitos.
            </div>


            <div formArrayName="hitos" class="hitos-wrap">
                <div *ngFor="let hitoGroup of hitos.controls; let i = index" [formGroupName]="i"
                    class="hitos-form_container">
                    <div class="hito-inner">
                        <div class="hitos-form_header" (click)="toggleHitoExpansion(i, $event)">
                            <h4 class="hitos-form_hero-title">
                                Hito {{ i + 1 }}: {{ hitoGroup.get('tituloHito')?.value || 'Sin Título' }}
                            </h4>

                            <button type="button" class="delete-hito-btn"
                                (click)="eliminarHito(i); $event.stopPropagation()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                    fill="currentColor">
                                    <path
                                        d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" />
                                </svg>
                            </button>
                        </div>

                        <div class="hitos-form_body" [ngClass]="{'expanded': hitoExpansions[i]}">

                            <div class="form-hito_section">
                                <div class="form-hito-group" style="flex: 2;">
                                    <label>Título del hito:</label>
                                    <input formControlName="tituloHito" placeholder="Evento clave" required />
                                </div>
                                <div class="form-hito-group" style="flex: 1;">
                                    <label>Relevancia (1 a 5):</label>
                                    <input type="number" formControlName="relevancia" min="1" max="5"
                                        placeholder="Ej. 3" />
                                </div>
                            </div>

                            <div class="form-hito-group">
                                <label>Descripción:</label>
                                <textarea formControlName="descripcionHito" placeholder="Detalles del hito"></textarea>
                            </div>

                            <div class="form-hito_section">
                                <div class="form-hito-group">
                                    <label>Año:</label>
                                    <input formControlName="anio" type="number" placeholder="YYYY" required />
                                </div>
                                <div class="form-hito-group">
                                    <label>Mes:</label>
                                    <input formControlName="mes" type="number" min="1" max="12" placeholder="MM" />
                                </div>
                                <div class="form-hito-group">
                                    <label>Día:</label>
                                    <input formControlName="dia" type="number" min="1" max="31" placeholder="DD" />
                                </div>
                            </div>



                            <div class="custom-file">
                                <button type="button" class="btn-file" (click)="fileInput.click()">
                                    Seleccionar imagen
                                </button>

                                <span class="file-name">
                                    {{ hitoGroup.get('nombreImagenActual')?.value || 'Ningún archivo seleccionado' }}
                                </span>

                                <input #fileInput type="file" hidden accept="image/*"
                                    (change)="onFileSelected($event, i)" />
                            </div>

                            <div class="form-hito-group">
                                <label>URL adicional:</label>
                                <input formControlName="url" placeholder="Enlace a más información" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="status-message" *ngIf="mensaje">{{ mensaje }}</div>
</form>


<div class="confirm-overlay" *ngIf="mostrarConfirmacion">
    <div class="confirm-box">
        <p>¿Estás seguro de que deseas cancelar? Se perderán los datos ingresados.</p>

        <div class="confirm-actions">
            <button class="btn-confirm" (click)="confirmarCancelacion()">Sí, cancelar</button>
            <button class="btn-cancel" (click)="cancelarAccion()">No, volver</button>
        </div>
    </div>
</div>