:root {
    /* Radios */
  --Radius-radius-none: 0px;
  --Radius-radius-xs: 4px;
  --Radius-radius-s: 8px;
  --Radius-radius-m: 12px;
  --Radius-radius-l: 16px;
  --Radius-radius-xl: 20px;
  --Radius-radius-xxl: 24px;
  --Radius-radius-xxxl: 28px;
  --Radius-radius-full: 9999px;
  /* Espacios */
  --Spacers-spacer-0: 0px;
  --Spacers-spacer-1: 4px;
  --Spacers-spacer-2: 8px;
  --Spacers-spacer-3: 12px;
  --Spacers-spacer-4: 16px;
  --Spacers-spacer-5: 20px;
  --Spacers-spacer-6: 24px;
  --Spacers-spacer-7: 28px;
  --Spacers-spacer-8: 32px;
  --Spacers-spacer-9: 36px;
  --Spacers-spacer-10: 40px;
}